@using System.Drawing;
@using System.Collections
@using Resources;

<div class="container row">
    @{
        ImageConverter imageConverter = new ImageConverter();
        byte[] imageBytes = (byte[])imageConverter.ConvertTo(Resources.solstartbild, typeof(byte[]));
    }
    <div style=" width: 95%; background-image:url(@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(imageBytes)))" class="HomeDiv col-lg-12">
        <h1 class="HomeBigText">Hello sunshine!</h1>
        <p class="HomeSmallText">Vad kul att DU är här, välj mellan <a class="HomeLink" href="/Municipality/@Session["chosenAction"]">kommun</a> eller <a class="HomeLink" href="/Company/@Session["chosenAction"]">organisation</a></p>
    </div>

</div>


