@using System.Drawing;
@using System.Collections
@using Resources;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolCalc</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/he.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="navbar-brand">SolCalc</a>
            </div>

            <ul class="navbar-collapse collapse nav navbar-nav" id="myNavbar">
                <li><a href="/Municipality/@Session["chosenAction"]">Kommun</a></li>
                <li><a href="/Company/@Session["chosenAction"]">Företag</a></li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @{
                ImageConverter converter = new ImageConverter();
                byte[] imagebytes = (byte[])converter.ConvertTo(Resources.Cybercom, typeof(byte[]));
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(imagebytes))" style="display:inline; margin-left: 80%" class="img-responsive img-rounded" width="100" height="100" />

                byte[] imagebyte = (byte[])converter.ConvertTo(Resources.klimatradet, typeof(byte[]));
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(imagebyte))" style="display:inline" class="img-responsive" width="90" height="00" />
            }
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>